* {
    margin: 0%;
    padding: 0%;
}

/* Nav section  */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
}


.menus {
    list-style: none;
    display: flex;
}

.box {
    padding-left: 25px;
    color: white;
    cursor: pointer;
}

.box:hover {
    color: aqua;

}

/* background pic section  */
.banner-container {
    height: 100vh;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('../image/background.jpg');


    background-size: cover;
    background-position: center;
    text-align: center;
    /* display: flex;
        align-items: center */


}

.banner-info {
    padding-top: 50vh;
}

.banner-h {
    color: white;
    font-size: 60px;
    font-weight: bolder;
}

.primary-c {
    color: rgb(233, 47, 47);
}
.banner-p{
    color: white;
    font-size: 18px;
    padding: 20px;
}
.btn{
    border: 0px;
    border-radius: 14px;
    padding: 10px;
    font-size: 12px;
}
.bg-primary{
    background-color: rgb(233, 47, 47);
    color: white;
}

/* service section  */

.service-container{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url('../image/footer-bg.png'); 
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;align-items: center;
    padding: 20px;
    
}
.service-img{

    width: 100px;}
.service-box{
background-color: white;
color: black;
padding: 20px;
width: 180px;
height: 180px;
border-radius: 10px;
text-align: center;

}
.service-para{
    width: 50%;
    margin-bottom: 15px;
}
.two-box-container{
    display: flex; gap: 5px;
    margin-top: 4px;
    
}
.service-btn{
    border: 0px;
    border-radius: 15px;
    padding:15px ;
    font-size: 15px;
    margin-bottom: 20px;
    color: gray;
}
.service-head{
    font-size: 45px; margin-bottom: 30px;
}
.author-container{
    display: flex; align-items: center; 
    gap: 20px;
}
.author-pic{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.author-profile{
    display: flex;
    align-items: center; gap: 5px;
    border-right: 2px solid red; 
    padding: 20px;
}
/* make appointment section  */

.make-appointment-container{
    background-color: rgba(255, 0, 0);
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    /* justify-content:space-around; */
    color: white;
    gap: 5px;
    padding: 30px;
}
.phone-call{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;
    gap: 8px;
    border-right: 2px solid gray ;
}
.para-part{
    width: 60%;
}
.number{
    font-size: 30px;
}

.blog-head{ margin-top: 10px;
    font-size: 40px; text-align: center;
    padding: 20px;
}
.blog-para{
    font-size: 20px;margin-top: 10px; text-align: center;
}

.all-box{ 
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;

}
.main-box{
   width: 250px;
   height: 320px;
    /* background-color: aqua; */
    box-shadow: 4px 8px 4px gray;
    border-radius: 5px;
    margin-top: 60px;
}
.box-img{
   
    width: 100%;
    margin-bottom: 10px;   border-radius: 5px;
}
.blog-head-card{
   padding-top: 10px;
}
.blog-p{
    margin-top: 10px;
}